.App {
  display: grid;
  grid-template-rows: 2fr 88vh 2fr;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background: #333;
  padding: 0 10px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}